
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
}

.main {
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(137, 144, 155, 0) 0%, #31322E 100%);
    color:#31322E;
    display: flex;
    padding: 0 20px;
    align-items: center;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.main .header {
    display: flex;
    align-items: center;
}

.main .logo {
   width: 80px;
   height: 80px;
}

.main h1 {
    max-width: 600px;
    line-height: 120%;
    margin-left: 1rem;
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: bold;
}

.main p {
    font-size: 1.2rem;
    text-align: center;
}

.main p span {
    color: #005FBC;
}

.main .icons {
    display: flex;
    justify-content: space-between;
    width: 150px;
    padding: 30px 0;
}

.main .icons a:link,
.main .icons a:visited {
    color: inherit;
}

.main .icons .icon {
    width: 40px;
    font-size: 1.5rem;
}